@keyframes toHide {
    from {
        opacity: 1;
        pointer-events: auto;
    }

    to {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes toShow {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: auto;
    }
}
