body {
    background: #fbfbfb;
    color: #CCC;

    font-family: a-otf-ud-shin-go-pr6n,sans-serif;
    font-weight: 300;
    font-style: normal;

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
    margin: 0;

    overflow-x: hidden;
}

.center {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

/*
    --- for
    --- home
*/

#home {
    display: block;
    margin: 0;

    position: relative;
    top: 260px;
    z-index: 100;
}

#home .title {
    text-align: center;
}

#home .title * {
    padding: 0;
    margin: 0;
}

#home .title h1 {
    font-size: 60px;
}

#home .title p {
    font-size: 23px;

    position: relative;
    left: 8px;
}

#home .button {
    background: #0CF090;
    border: solid 12px #fff;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.1);

    border-radius: 50%;
    height: 120px;
    width: 120px;

    position: relative;
    top: 230px;

    cursor: pointer;
    z-index: 100;
}

#home .button i {
    color: #fff;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

    position: relative;
    font-size: 50px;
}


#scanning {
    font-size: 28px;
    z-index: 95;
}

#detecting {
    height: 600px;
    width: 450px;

    border-radius: 60px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);

    overflow-y: scroll;
    z-index: 90;
}

#detecting > div {
    justify-content: space-between;
    align-items: center;
    display: flex;

    padding: 0 50px 40px 50px;
    margin: 40px 0;

    border-bottom: solid 2px #ececec;
    color: #9c9c9c;

    cursor: pointer;
}


#detecting i {
    font-size: 12px;
    text-align: right;

    border-radius: 100px;
    padding: 4px;

    background: #a2a2a2;
    color: white;
}

#pass-change {
    background: #ffffff30;
    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;

    z-index: 2;
}

#pass-change .window {
    background: white;
    height: 600px;
    width: 450px;

    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;

    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
}

#pass-change .window > * {
    margin-bottom: 60px;
    text-align: center;

    position: relative;
    top: 100px;
}

#pass-change input {
    padding: 20px 0;
    font-size: 18px;
    border: none;

    text-align: left;
    padding-left: 30px;
    border-bottom: solid 1px #ececec;

    width: 310px;
}

#pass-change button {
    font-size: 22px;

    height: 80px;
    width: 340px;

    background: #0CF090;
    border-radius: 50px;
    border: none;

    color: #f8f8f8;
}

#good {
    background: white;
    height: 600px;
    width: 450px;

    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
    border-radius: 60px;
}

#good i {
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    font-size: 70px;

    background: #0cf090;
    color: #f8f8f8;

    border: solid 16px white;
    border-radius: 100%;
    padding: 40px;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

#loading span {
    display: inline-block;
    border-radius: 100%;
    background: #d3d3d3;

    height: 10px;
    width: 10px;

    position: relative;
    top: 40px;
}

#loading span:nth-of-type(1) {
    animation: loadMotion 500ms ease-in-out infinite;
}

#loading span:nth-of-type(2) {
    animation: loadMotion 500ms 100ms ease-in-out infinite;
}

#loading span:nth-of-type(3) {
    animation: loadMotion 500ms 200ms ease-in-out infinite;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 100px;
    height: 20px;
}

::placeholder {
    color: #e3e3e3;
}
