body {
    background: #fbfbfb;
    color: #CCC;

    font-family: a-otf-ud-shin-go-pr6n,sans-serif;
    font-weight: 300;
    font-style: normal;

    position: absolute;
    left: 0;
    top: 0;

    height: 100%;
    width: 100%;
    margin: 0;
}

.center {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

.hide {
    opacity: 0;
    pointer-events: none;
}

/*
    --- for
    --- home
*/

#home {
    display: block;
    margin: 0;

    position: relative;
    top: 260px;
    z-index: 100;
}

#home .title {
    text-align: center;
}

#home .title * {
    padding: 0;
    margin: 0;
}

#home .title h1 {
    font-size: 60px;
}

#home .title p {
    font-size: 23px;

    position: relative;
    left: 8px;
}

#home .button {
    background: #0CF090;
    border: solid 12px #fff;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);

    border-radius: 50%;
    height: 120px;
    width: 120px;

    position: relative;
    top: 230px;

    cursor: pointer;
    z-index: 100;
}

#home .button i {
    color: #fff;
    text-shadow: 0 0 12px rgba(0, 0, 0, 0.2);

    position: relative;
    font-size: 50px;
}

#detecting {
    height: 600px;
    width: 450px;

    border-radius: 60px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);

    overflow-y: scroll;
    z-index: 90;
}

#detecting > div {
    justify-content: space-between;
    align-items: center;
    display: flex;

    padding: 0 50px 40px 50px;
    margin: 40px 0;

    border-bottom: solid 2px #ececec;
    color: #9c9c9c;

    cursor: pointer;
}


#detecting i {
    font-size: 12px;
    text-align: right;

    border-radius: 100px;
    padding: 4px;

    background: #a2a2a2;
    color: white;
}

#pass-change {
    background: #ffffff30;
    height: 100%;
    width: 100%;

    position: absolute;
    left: 0;
    top: 0;

    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

#pass-change .window {
    background: white;
    height: 500px;
    width: 400px;

    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;
}

#pass-change input {
    padding: 20px 0;
    font-size: 26px;
    border: none;

    border-bottom: solid 1px #ececec;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: #d1d1d1;
    border-radius: 100px;
    height: 20px;
}
